.select-container {
    position: relative;
}

.select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44px;
    width: 200px;
    padding: 0 12px 0 14px;
    font-size: 14px;
    font-weight: 500;
    color: var(--navy);
    border-radius: 12px;
    border: 1px solid var(--navy-12);
    gap: 8px;
    transition: 150ms ease;
}

.select.open {
    border-color: var(--navy);
    box-shadow: 0 0 0 3px var(--navy-8);
}

.option-list {
    display: none;
    position: absolute;
    top: 50px;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px;
    border-radius: 12px;
    border: 1px solid var(--navy-12);
    z-index: 1500;
    width: 200px;
    overflow-y: auto;
    gap: 1px;
    background-color: var(--white);
}

.select-icon {
    padding-top: 6px;
    transition: transform 150ms ease;
}

.select-icon.rotate {
    transform: rotate(180deg);
    padding-top: 0;
}

.option-list.visible {
    display: flex;
}

.option {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    padding: 9px 10px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    transition: 150ms ease;
}

.option:hover,
.option.selected:hover {
    background-color: var(--navy-8);
}

.option.selected {
    background-color: var(--navy-4);
    font-weight: 600;
}
