.main-container {
    flex: 1;
    display: grid;
    gap: 1px;
    background-color: var(--navy-12);
    grid-template-columns: 264px 1fr;
    grid-template-rows: 64px 12fr;
    height: 100%;
}

.main-container > * {
    background-color: white;
}

.logo-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    gap: 2px;
    font-size: 12px;
}

.logo-part img {
    width: 106px;
}

.logo-part span {
    padding-left: 2px;
    color: var(--text-secondery);
    font-weight: 600;
}

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 0;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.profile-part {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.avatar-part {
    background: none;
    border: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 12px;
    transition: 150ms ease;
}

.avatar-part:hover {
    background-color: var(--navy-8);
}

.avatar {
    display: flex;
    justify-self: center;
    width: 32px;
    height: 32px;
    background-color: var(--navy);
    color: white;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
}


.admin-panel {
    border-top: 1px solid var(--navy-12);
    height: 78px;
    padding: 16px;
    width: 100%;
}
