.avatar-part {
    background: none;
    border: none;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 12px;
    transition: 150ms ease;
}

.avatar-part:hover {
    background-color: var(--navy-8);
}

.avatar {
    display: flex;
    justify-self: center;
    width: 32px;
    height: 32px;
    background-color: var(--navy);
    color: white;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    font-weight: 700;
    font-size: 12px;
}
